

<ion-content [fullscreen]="true">


  <div id="container" *ngIf='team'>
    
    <ion-grid>
      <ion-row>
        <ion-col class='red'>
          {{redTeamPoints}}
        </ion-col>
        <ion-col class='blue'>
          {{blueTeamPoints}}
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <div class="red-team" [ngStyle]="{'width': redWidth}">

    </div>
    <div class="blue-team" [ngStyle]="{'width': blueWidth}">
      
    </div>
    <ion-button [(color)]='btnColor'  >Dar un punto</ion-button>
  </div>


</ion-content>
